
.env
princepk.py
base.py
ceillo.sqlite3
**__pycache__/
/email

/migrations/
/migrations/**

backend/media/Category
backend/media/Collection
backend/media/collection
backend/media/merchant
backend/media/products
backend/media/profile
backend/media/reviews
**.pyc
manage.py
backend/static/
backend/media/
**dev_env
.vscode/
.pytest_cache/
fixtures.json