<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Reset Password Email Template</title>
    <meta name="description" content="password Reset Email">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    </style>
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
        <tr>
            <td>
                <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                    align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:80px;">&nbsp;</td>

                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="65%" border="0" align="center" cellpadding="0" cellspacing="0"
                                style="max-width:670px;background:#fff; border-radius:10px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">

                    </tr>                    
                    <tr>
                        <td style="padding:0 35px;">
                        <p style="font-size: 50px; margin:0 0 0 30%;font-family: 'Pacifico', cursive; ">Ceillo</p>
                            <h1
                                style="color:#1e1e2d; font-weight:100; margin:0;font-size:32px;font-family: karla; " >
                                You
                                requested a password reset</h1>
                                <h4 style='display:inline-block; margin:7px 0 0 0;'>{{email}}</h4>
                            <span
                                style="display:block; vertical-align:middle; margin:20px 0 20px; border-bottom:1px solid #cecece; width:100%;"></span>

                            <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                Hi {{first_name}} we recieved a request to reset your password. click the reset button below. or copy the link below the reset button
                                <p style="font-size:14px;">if you did not request to reset your passowrd, <a href="https://ceillo.netlify.app/" style="text-decoration:underline;color:#456999;">click here</a> </p>
                            </p>
                            <a href="{{link}}"
                                style="background:#208ee2;text-decoration:none !important; font-weight:500; margin-top:18px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:15px;">Reset
                                Password</a>
                        <p style="margin:20px 0 0 0; display:block; font-size:12px;font-family:'Anonymous Pro', manos pace;color:#455056;">copy this link <span style="color:#208ee2 ;padding-left:5px; ;">{{link}}</span> </p>
                        </td>
                    </tr>

                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        <tr>
            <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align:center;">
                <p
                    style="font-size:14px; color:3d5a80; line-height:18px; margin:8px 0 0;">
                    &copy; <strong>2021 www.ceillo.com</strong></p>
            </td>
        </tr>
        <tr>
            <td style="height:80px;">&nbsp;</td>
        </tr>
    </table>
    </td>
    </tr>
    </table>
</body>

</html>